## Installing and using the Python connector for MySQL

On Unix systems, you can 'pip install mysql-connector'.  Depending on how you installed MySQL you may need to do that as root.

In [20]:
import mysql.connector

The code below assumes you've loaded the empoyee database into MySQL.

https://dev.mysql.com/doc/employee/en/employees-installation.html

Connect to the database, which requires credentials

In [21]:
cnx = mysql.connector.connect(user='oates', password='mysqlpassword',
                              host='localhost',
                              database='employees')

Let's run a query

In [22]:
cursor = cnx.cursor()
query = ("SELECT first_name, last_name, hire_date FROM employees "
         "WHERE last_name LIKE 'A%' LIMIT 20")

cursor.execute(query)

for (first_name, last_name, hire_date) in cursor:
  print("{}, {} was hired on {:%d %b %Y}".format(
    last_name, first_name, hire_date))

cursor.close()

Awdeh, Satosi was hired on 18 May 1988
Azuma, Mona was hired on 02 Mar 1990
Aingworth, Eben was hired on 19 Dec 1990
Auria, Yucel was hired on 14 Mar 1991
Azumi, Douadi was hired on 10 Oct 1995
Aloisi, Nigel was hired on 02 Nov 1985
Ananiadou, Aleksandar was hired on 11 Jan 1988
Awdeh, Vidya was hired on 16 Oct 1985
Anandan, Girolamo was hired on 11 Oct 1992
Alpin, Yuping was hired on 10 May 1994
Auria, Marko was hired on 04 Jun 1992
Avouris, Mihalis was hired on 12 Dec 1992
Alencar, Aksel was hired on 24 Oct 1990
Apsitis, Christfried was hired on 16 Jan 1986
Angelopoulos, Maris was hired on 28 Aug 1987
Aumann, Leucio was hired on 19 Jun 1991
Akaboshi, Hongzue was hired on 24 Dec 1989
Alpin, Yinlin was hired on 30 May 1990
Ananiadou, Munehiko was hired on 05 Jun 1985
Anick, Zhiwei was hired on 08 Nov 1992

True

In [25]:
cursor = cnx.cursor()
query = ("SELECT * FROM salaries LIMIT 20")

cursor.execute(query)

print('Columns in result = ' + str(cursor.column_names))
print('Query = ' + cursor.statement)
row = cursor.fetchone()
while row is not None:
  print(row)
  row = cursor.fetchone()

print('Number of rows = ' + str(cursor.rowcount))

cursor.close()

Columns in result = ('emp_no', 'salary', 'from_date', 'to_date')
Query = SELECT * FROM salaries LIMIT 20
(10001, 60117, datetime.date(1986, 6, 26), datetime.date(1987, 6, 26))
(10001, 62102, datetime.date(1987, 6, 26), datetime.date(1988, 6, 25))
(10001, 66074, datetime.date(1988, 6, 25), datetime.date(1989, 6, 25))
(10001, 66596, datetime.date(1989, 6, 25), datetime.date(1990, 6, 25))
(10001, 66961, datetime.date(1990, 6, 25), datetime.date(1991, 6, 25))
(10001, 71046, datetime.date(1991, 6, 25), datetime.date(1992, 6, 24))
(10001, 74333, datetime.date(1992, 6, 24), datetime.date(1993, 6, 24))
(10001, 75286, datetime.date(1993, 6, 24), datetime.date(1994, 6, 24))
(10001, 75994, datetime.date(1994, 6, 24), datetime.date(1995, 6, 24))
(10001, 76884, datetime.date(1995, 6, 24), datetime.date(1996, 6, 23))
(10001, 80013, datetime.date(1996, 6, 23), datetime.date(1997, 6, 23))
(10001, 81025, datetime.date(1997, 6, 23), datetime.date(1998, 6, 23))
(10001, 81097, datetime.date(1998, 6, 23), datetime.date(1999, 6, 23))
(10001, 84917, datetime.date(1999, 6, 23), datetime.date(2000, 6, 22))
(10001, 85112, datetime.date(2000, 6, 22), datetime.date(2001, 6, 22))
(10001, 85097, datetime.date(2001, 6, 22), datetime.date(2002, 6, 22))
(10001, 88958, datetime.date(2002, 6, 22), datetime.date(9999, 1, 1))
(10002, 65828, datetime.date(1996, 8, 3), datetime.date(1997, 8, 3))
(10002, 65909, datetime.date(1997, 8, 3), datetime.date(1998, 8, 3))
(10002, 67534, datetime.date(1998, 8, 3), datetime.date(1999, 8, 3))
Number of rows = 20

True